[submodule "external/box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d
[submodule "external/gamenetworkingsockets"]
	path = external/gamenetworkingsockets
	url = https://github.com/valvesoftware/gamenetworkingsockets
[submodule "external/manifold"]
	path = external/manifold
	url = https://github.com/elalish/manifold
[submodule "external/nativefiledialog"]
	path = external/nativefiledialog
	url = https://github.com/btzy/nativefiledialog-extended
[submodule "external/miniaudio"]
	path = external/miniaudio
	url = https://github.com/mackron/miniaudio
[submodule "external/SDL_image"]
	path = external/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
